/_freeze/
env
/.quarto/

# Cache files from various chapters
/content/*.udpipe
/content/glove*.txt
/content/reviewdata.pickle.bz2
/content/reviewdata.rds
/content/w2v_320d_trimmed
/content/mnist_784.pickle

/env/

/content/*_cache/
/content/*_files/
/tikz*.log
/.RData
/.Rhistory

/_book/
/.vscode/