/_freeze/
env
/.quarto/

# some files created by the example code in the book
mynewcsvfile.csv
newstopwords.txt
stopwords.txt
test.json
/*.udpipe
/glove*.txt


/env/

/*_cache/
/*_files/
/tikz*.log
/.RData
/.Rhistory

/_book/
/.vscode/